.subjectarr {
    width: 30%;
    box-sizing: border-box;
    padding: 1vw 1.2vw;
    box-shadow: 2px 2px 4px var(--shadow-color);
    background-color: var(--tasklist-back-color);
}

.subjectarr:last-child {
    background-color: var(--tasklist-last-back-color);
    transition: background-color 1s ease;
}

.subjectarr:last-child > .subjectarr-name {
    margin-bottom: 0;
}

.subjectarr:last-child:hover {
    background-color: var(--tasklist-back-color);
}

.subjectarr-name {
    font-size: clamp(0.75rem, 2vw, 2rem);
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 1vw;
}

.subjectarr:last-child > .subjectarr-name {
    font-weight: 400;
}

.subjectarr:last-child > .subjectarr-name:hover {
    font-weight: 600;
    cursor: pointer;
}

.subjectarr-add-task {
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
    color: var(--black-color);
}

.subjectarr-add-task:hover {
    font-weight: 600;
    cursor: pointer;
}

#add-subjectarr-input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 0.7vw;
    box-shadow: 0 0 4px var(--input-shadow-color);
    padding: 0.6vw;
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
    color: var(--input-shadow-color);
    opacity: 0.7;
    outline: none;
}

#add-subjectarr-input:focus,
#add-subjectarr-input:hover {
    opacity: 1;
}